<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gebruikers zoeken</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="body-center">
<h1>Gebruikers zoeken</h1>

<form action="/search" method="get" id="searchForm">
    <input type="text" id="searchInput" name="keyword" placeholder="Zoek bijv. op naam of e-mailadres">

    <button type="submit">Zoeken</button>

</form>

    <button onclick="goToHomepage()">Terug naar de startpagina</button>

    <script type="text/javascript">
        function goToHomepage() {
            window.location.href = "/home";
        }
    </script>

<table>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.fname}"></td>
        <td th:text="${user.lname}"></td>
        <td th:text="${user.email}"></td>
    </tr>
</table>
</div>
</body>
</html>
