<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Data</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
<!--    <style>-->
<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--            background-color: #f0f0f0;-->
<!--            text-align: center;-->
<!--            padding: 20px;-->
<!--        }-->
<!--        h1 {-->
<!--            color: #333;-->
<!--            margin-bottom: 30px;-->
<!--        }-->
<!--        form {-->
<!--            margin-bottom: 20px;-->
<!--        }-->
<!--        input[type="text"] {-->
<!--            padding: 10px;-->
<!--            width: 300px;-->
<!--            border-radius: 4px;-->
<!--            border: 1px solid #ccc;-->
<!--            font-size: 16px;-->
<!--        }-->
<!--        button[type="submit"] {-->
<!--            padding: 10px 20px;-->
<!--            font-size: 16px;-->
<!--            border: none;-->
<!--            border-radius: 4px;-->
<!--            background-color: #2ecc71;-->
<!--            color: white;-->
<!--            cursor: pointer;-->
<!--        }-->
<!--        button[type="submit"]:hover {-->
<!--            background-color: #27ae60;-->
<!--        }-->
<!--        table {-->
<!--            width: 100%;-->
<!--            border-collapse: collapse;-->
<!--            margin: 0 auto;-->
<!--        }-->
<!--        th, td {-->
<!--            padding: 10px;-->
<!--            text-align: left;-->
<!--            border-bottom: 1px solid #ddd;-->
<!--        }-->
<!--        th {-->
<!--            background-color: #f2f2f2;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<div class="body-center">
<h1>Zoeken</h1>

<form action="/search" method="get" id="searchForm">
    <input type="text" id="searchInput" name="keyword" placeholder="Search by name or email">
    <button type="submit">Search</button>
</form>

<table>
<!--    <tr>-->
<!--        <th>Gebruikersnaam</th>-->
<!--        <th>Voornaam</th>-->
<!--        <th>Achternaam</th>-->
<!--        <th>E-mailadres</th>-->
<!--    </tr>-->
    <!-- Loop through users and display each user -->
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.fname}"></td>
        <td th:text="${user.lname}"></td>
        <td th:text="${user.email}"></td>
    </tr>
</table>
</div>
</body>
</html>
