<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Data</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<h1>User Data</h1>

<form action="/search" method="get" id="searchForm">
    <input type="text" id="searchInput" name="keyword" placeholder="Search by name or email">
    <button type="submit">Search</button>
</form>

<table>
    <tr>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>E-mailadres</th>
        <th>Telefoonnummer</th>
    </tr>
    <!-- Loop through users and display each user -->
    <tr th:each="user : ${users}">
        <td th:text="${user.fname}"></td>
        <td th:text="${user.lname}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.phonenumber}"></td>
    </tr>
</table>

</body>
</html>