<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<h1>Welcome to the Main Page</h1>

<h2>Ga naar nieuw formulier om een nieuw formulier aan te maken</h2></br>
<h2>Of ga naar view forms om formulieren op te halen</h2>

<button onclick="window.location.href = 'register';">Enter New Form</button>
<button onclick="window.location.href = 'form';">View Forms</button>

</body>
</html>