<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Startpagina</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    </head>
    <body>

        <div class="body-center">
            <h1>Welkom op de Startpagina!</h1>

            <h2>Klik op "Nieuw formulier invullen" om een nieuw formulier aan te maken</h2></br>
            <button onclick="window.location.href = 'register';">Nieuw formulier invullen</button>
            <h2>Of klik op "Bekijk formulieren" om formulieren op te halen</h2>
            <button onclick="window.location.href = 'search_form';">Bekijk formulieren</button>
        </div>
    </body>
</html>
